@import "~bootstrap/scss/bootstrap";


body {
  background-color: #111;
  margin: 0;
  font-family: 'Georgia', serif;
  scroll-behavior: smooth;
}

nav.navbar {
  background-color: rgba(0, 0, 0, 1);
  font-family: 'Cinzel', serif;
}

nav.navbar .nav-link {
  color: #bfb0a1;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav.navbar .nav-link:hover {
  color: #8b0000; 
}

.btn-primary {
  background-color: #8b0000;  
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #a01a1a;
}

h1 {
  font-family: 'Cinzel', serif;
  color: #bfb0a1;
  text-shadow: 1px 1px 2px #000;
}

p {
  color: #aaa;
}

.fullscreen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  background-image: url('/pictures/20240807_173401.jpg');
  background-size: cover;
  background-position: center 70%;
}

.personal h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.personal p {
  max-width: 1500px;
}

.project {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}